script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
script window.jQuery || document.write('<script src="static/js/libs/jquery-1.7.1.min.js"><\\/script>')
script(src="static/js/libs/bootstrap/transition.js")
script(src="static/js/libs/bootstrap/collapse.js")
script(src="static/js/plugins.js")
script(src="static/js/script.js")
script(src="socket.io/socket.io.js")
script
  var socket = io.connect();
  socket.on('connected', function(data){
    console.log(data.message);
  });