extends layout

block maincontent
  blockquote
    p
      | &laquo;
      | When it comes to the future, there are three kinds of people:
      | those who let it happen, those who make it happen,
      | and those who wonder what happened.
      | &raquo;
    small John M. Richardson, Jr.

block tweets
    ul.unstyled.tweets