p
  | For now, ConnectedDashboard is a sandbox, but that could become
  strong awesome !
h3 What to do ?
p
  | Here, there's nothing to show for the moment, but you can fork the project on
  a(href="http://github.com", target="_blank") GitHub
  , and play with it ;)
a.btn.btn-success(href="#{settings.github_repo}", target="_blank")
  i.icon-download-alt.icon-white
  |  Fork me on Github