@import "bootstrap/bootstrap.less";


/* ===== Primary Styles ========================================================
   Author: Nicolas Chenet - nicolas@balloonup.com
   ========================================================================== */

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.container-fluid {
    h1 {
      margin-bottom: 18px;
    }

    h3 {
      margin-bottom: 9px;
    }
}

@import "bootstrap/responsive.less";








