@import "bootstrap/bootstrap.less";


/* ===== Primary Styles ========================================================
   Author: Nicolas Chenet - nicolas@balloonup.com
   ========================================================================== */

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.container-fluid {
    h1 {
        margin-bottom: 20px;

        .socket-status {
            float: right;
            height: 7px;
            width: 7px;
            .border-radius(7px);
            &.off {
                background: red;
            }
            &.on {
                background: green;
            }
        }
    }

    h3 {
        margin-bottom: 10px;
    }

    h4 {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .tweets {
        position: relative;

        p.no-tweet {
            color: #aaa;
            font-size: 1.1em;
        }

        ul.live-tweets {

            li {
                display: none;
                color: #333;
                font-size: 1.2em;
                position: relative;
                padding-left: 70px;
                border-bottom: solid 1px #E5E5E5;
                padding-bottom: 10px;
                min-height: 58px;
                margin: 12px 0;

                &:last-child {
                    border: none;
                }

                img {
                    width: 50px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 3px;
                    background: white;
                    border: solid 1px #CCC;
                    top: 0;
                    left: 0px;
                    .border-radius(2px);
                    .box-shadow(0 0 5px #dedede);
                }
                a {
                    text-decoration: none;

                    &.author {
                        color: #000;
                        font-weight: bold;
                        &:hover {
                            color: @linkColor;
                        }
                    }
                }

                small {
                    display: block;
                    color: #999;
                    font-size: .75em;
                    margin-top: 3px;
                    font-style: italic;
                }
            }
        }
    }

    .instagram-pics {
        padding: 10px;
        background : #fafafa;
        margin-bottom: 20px;
        .border-radius(3px);

        p.no-instagram-pics {
            color: #aaa;
        }

        ul.live-instagram-pics {
            .clearfix;

            li {
                float: left;
                display: inline;
                padding: 5px;
                display: none;

                img {
                    background: #fff;
                    border: solid 1px #ddd;
                    padding: 5px;
                    width: 102px;
                    .box-shadow(0 0 5px #eee);
                }
            }
        }
    }
}

@import "bootstrap/responsive.less";








